.nav-link{
font-family: 'Poppins', sans-serif;
font-size: 15px;
line-height: 24px;
color: #1B1A1A;
text-decoration: none;
display: inline-block;
}

.main-title{
font-family: 'Poppins', sans-serif;
font-size: 64px;
line-height: 70px;
color: #1B1A1A;
}

.navigation-item{
  display: inline-block;
  margin-right: 32px;
}

.header-btn{
display: block;
font-family: 'Poppins', sans-serif;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.4px;
color: #FFFFFF;
margin-left: auto;
margin-right: auto;
padding: 11px 20px;
border: 0;
background: #1B1A1A;
border-radius: 14px;
}

.main-section-content{
  display: inline-block;
  vertical-align: top;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #403E3B;
  width: 50vw;
  background: #ECE7E4;
  border-radius: 0px;
}

.main-section-img{
  display: inline-block;
  width: 45vw;

}